Repository FrejaFischer/vibeVault: changes, and which GitLab CI jobs are due for each by the changed paths.
All: running_pipelines, lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, deploy_client_to_render, deploy_server_to_render

.gitlab-ci.yml:

.merge_request_rule: &merge_request_rule
  if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

.main_branch_rule: &main_branch_rule
  if: '$CI_COMMIT_BRANCH == "main"'

stages:
  - static-test
  - dynamic-test
  - deploy

# --- Default pipeline run ---
running_pipelines:
  stage: static-test
  rules:
    - <<: *merge_request_rule
      changes:
        - docker-compose.yml
        - .gitlab-ci.yml
        - Makefile
        - Readme.md
        - .gitignore
        - seeder/**/*
        - nginx/*
  script:
    - echo "Running pipelines"

# --- Static Tests ---
lint_vibe_client:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npm install eslint@9.21.0
    - npx eslint

lint_vibe_server:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npm install eslint@9.26.0
    - npm run lint

audit_vibe_client:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npm audit

audit_vibe_server:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npm audit

# --- Dynamic Tests ---
build_vibe_client:
  stage: dynamic-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - echo "Building vibe-client"
    - cd vibe-client
    - npm install
    - npm run build

build_vibe_server:
  stage: dynamic-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - echo "Building vibe-server"
    - cd vibe-server
    - npm install
    - npm run build

# --- Deploy (Continuos Delivery) ---
deploy_client_to_render:
  stage: deploy
  image: curlimages/curl:latest
  when: manual
  allow_failure: false
  rules:
    - <<: *main_branch_rule
      changes:
        - vibe-client/**/*
  script:
    - echo "Triggering client deployment to Render..."
    - curl -X POST "$RENDER_DEPLOY_CLIENT_HOOK_URL"

deploy_server_to_render:
  stage: deploy
  image: curlimages/curl:latest
  when: manual
  allow_failure: false
  rules:
    - <<: *main_branch_rule
      changes:
        - vibe-server/**/*
  script:
    - echo "Triggering server deployment to Render..."
    - curl -X POST "$RENDER_DEPLOY_SERVER_HOOK_URL"

#32 npm test script
  vibe-server/package.json
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

#32 entrypoint scripts
  vibe-client/entrypoint.sh
  vibe-server/entrypoint.sh
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, deploy_client_to_render, deploy_server_to_render

docker compose
  docker-compose.yml
Due: running_pipelines

server dockerfile
  vibe-server/Dockerfile
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

seed updated
  seeder/seed.sql
Due: running_pipelines

pipeline run time tests
  .gitlab-ci.yml
Due: running_pipelines

username
  docker-compose.yml
Due: running_pipelines

pgadmin removed
  docker-compose.yml
Due: running_pipelines

$GITLAB_CI_TOKEN changed to $CI_JOB_TOKEN
  .gitlab-ci.yml
Due: running_pipelines

env file
  .gitlab-ci.yml
Due: running_pipelines

dburl
  docker-compose.yml
  vibe-server/entrypoint.sh
Due: running_pipelines, lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

code review cleanup
  .gitlab-ci.yml
  docker-compose.yml
  vibe-server/entrypoint.sh
Due: running_pipelines, lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

implemented override docker compose file + fixed reset db command
  .gitignore
  Makefile
Due: running_pipelines

installed jsonwebtoken
  vibe-server/package-json-explained.txt
  vibe-server/package-lock.json
  vibe-server/package.json
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

implemented login post route
  vibe-server/controllers/loginController.ts
  vibe-server/routes/loginRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

default users have hashed password
  seeder/seed.sql
Due: running_pipelines

added comments
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

made getEntries a protected route
  vibe-server/controllers/entryController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

installed cookie parser and setup API to be able to parse cookies
  vibe-server/package-lock.json
  vibe-server/package.json
  vibe-server/startup/init.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

send token in HTTP cookie
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

get token from cookies instead of request header
  vibe-server/controllers/entryController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

added authentication route
  vibe-server/controllers/authController.ts
  vibe-server/routes/authRouter.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

implemented AuthContext with checkAuth and login method
  vibe-client/src/context/AuthContext.ts
  vibe-client/src/context/AuthProvider.tsx
  vibe-client/src/main.tsx
  vibe-client/src/services/api-client.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

began to implement login page + make entries page protected (NOT FINISHED)
  vibe-client/src/components/LoginForm.tsx
  vibe-client/src/pages/EntriesPage.tsx
  vibe-client/src/pages/LandingPage.tsx
  vibe-client/src/pages/LoginPage.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

updated entrypoint
  vibe-server/entrypoint.sh
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

Edit README.md
  README.md
Due: none

added docker ignore files
  vibe-client/.dockerignore
  vibe-server/.dockerignore
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, deploy_client_to_render, deploy_server_to_render

added loading state for authentication
  vibe-client/src/context/AuthContext.ts
  vibe-client/src/context/AuthProvider.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

moved authentication to parent component
  vibe-client/src/pages/EntriesPage.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

authenticate if user is logged in or not, and handle redirect if so
  vibe-client/src/pages/AuthLayout.tsx
  vibe-client/src/pages/UserLayout.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

removed fallback secret key. implemented error handling instead
  vibe-server/controllers/entryController.ts
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

implemented verifyToken middleware, to check for token + get user id from it
  vibe-server/middleware/verifyToken.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

use middleware to protect get all entries route
  vibe-server/controllers/entryController.ts
  vibe-server/routes/entryRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

added error handling
  vibe-server/controllers/authController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

removed unnessesary code
  vibe-server/controllers/entryController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

added comments
  vibe-server/middleware/verifyToken.ts
  vibe-server/routes/entryRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render

deleted comments
  vibe-client/src/components/LoginForm.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

added DONT WORK YET comment on logout
  vibe-client/src/context/AuthProvider.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

deleted loginpage
  vibe-client/src/pages/LoginPage.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

added comments
  vibe-server/controllers/authController.ts
  vibe-server/controllers/entryController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, deploy_server_to_render
