Repository FrejaFischer/vibeVault: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_vibe_client, lint_vibe_server, build_vibe_client

.gitlab-ci.yml:

stages:
  - static-test
  - dynamic-test

running_pipelines:
  stage: static-test
  script:
    - echo "Running pipelines"

lint_vibe_client:
  stage: static-test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npx eslint

lint_vibe_server:
  stage: static-test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npx eslint

build_vibe_client:
  stage: dynamic-test
  image: node:18
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - vibe-client/**/*
  script:
    - echo "Building vibe-client"
    - cd vibe-client
    - npm install
    - npm run build

added audit tests for pipeline
  .gitlab-ci.yml
Due: none

test test
  vibe-client/src/pages/Landing.tsx
Due: lint_vibe_client, build_vibe_client

image added to tests
  .gitlab-ci.yml
Due: none

ran audit fix
  vibe-client/package-lock.json
Due: lint_vibe_client, build_vibe_client

test updated
  .gitlab-ci.yml
Due: none

comment removed
  vibe-client/src/pages/Landing.tsx
Due: lint_vibe_client, build_vibe_client

gl pipeline update
  .gitlab-ci.yml
Due: none

rte var added to compose file
  docker-compose.yml
Due: none

entrypoint sript created
  vibe-client/entrypoint.sh
Due: lint_vibe_client, build_vibe_client

#14 entrypont command added to docker file
  vibe-client/Dockerfile
Due: lint_vibe_client, build_vibe_client

#14 makefile created
  Makefile
Due: none

implemented nginx i vores docker miljø til at håndtere client
  docker-compose.yml
  nginx/nginx.conf
  vibe-client/Dockerfile
  vibe-client/vite.config.ts
Due: lint_vibe_client, build_vibe_client

added comments
  docker-compose.yml
  nginx/nginx.conf
  vibe-client/Dockerfile
Due: lint_vibe_client, build_vibe_client

prepared nginx for server part
  nginx/nginx.conf
Due: none

added comments
  docker-compose.yml
Due: none

added comment
  docker-compose.yml
Due: none

deleted unused code
  vibe-client/Dockerfile
  vibe-client/vite.config.ts
Due: lint_vibe_client, build_vibe_client

updated gitignore to ignore .env files
  .gitignore
Due: none

added Server Docker service to docker compose file
  docker-compose.yml
Due: none

Started on the API server, with Express handling the root path for our API for now
  vibe-server/index.ts
  vibe-server/package-json-explained.txt
  vibe-server/package-lock.json
  vibe-server/package.json
  vibe-server/tsconfig.json
Due: lint_vibe_server

16: connected Nginx to server
  docker-compose.yml
  nginx/nginx.conf
Due: none

Change database name to test db
  docker-compose.yml
Due: none

installed nessesary dependencies and configured tsconfig for Typeorm
  vibe-server/package-json-explained.txt
  vibe-server/package-lock.json
  vibe-server/package.json
  vibe-server/tsconfig.json
Due: lint_vibe_server

connected to test database and implemented route for it
  vibe-server/entities/Test.ts
  vibe-server/index.ts
  vibe-server/routes/testRouter.ts
  vibe-server/startup/data-source.ts
  vibe-server/startup/dbConnection.ts
  vibe-server/startup/init.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server

deleted lines from tryling to use eslint
  vibe-server/package.json
Due: lint_vibe_server

inserted new api url
  docker-compose.yml
Due: none

Configured Nginx + Vite to work when client request endpoints from the server
  nginx/nginx.conf
  vibe-client/vite.config.ts
Due: lint_vibe_client, build_vibe_client

added POST endpoint to the test route and changed reponse from GET endpoint to include count and results in json object
  vibe-server/routes/testRouter.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server

craeted seed file
  seeder/seed.sql
Due: none

database reset added to makefile
  Makefile
Due: none

seeder added to docker compose
  docker-compose.yml
Due: none

readme updated
  README.md
Due: none

ci change
  .gitlab-ci.yml
Due: none

implemented connection to our API with axios + getAll and post methods
  vibe-client/src/services/api-client.ts
Due: lint_vibe_client, build_vibe_client

created test scenario, with nessesary hooks, types and components
  vibe-client/src/components/EntriesGrid.tsx
  vibe-client/src/components/TestForm.tsx
  vibe-client/src/components/TestGrid.tsx
  vibe-client/src/hooks/useCreateTest.ts
  vibe-client/src/hooks/useEntries.ts
  vibe-client/src/hooks/useTests.ts
  vibe-client/src/pages/TestPage.tsx
  vibe-client/src/types/test.ts
Due: lint_vibe_client, build_vibe_client

changed database name
  docker-compose.yml
Due: none

Changed console.log to Nginx API URL
  vibe-server/index.ts
Due: lint_vibe_server

implemented API endpoint for getting all albums (testing connection with newly implemented database)
  vibe-server/entities/Album.ts
  vibe-server/entities/Artist.ts
  vibe-server/routes/albumRouter.ts
  vibe-server/startup/data-source.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server

added color variables
  vibe-client/src/styles/variables.css
Due: lint_vibe_client, build_vibe_client

#21 created footer
  vibe-client/src/components/Footer.tsx
Due: lint_vibe_client, build_vibe_client
