Repository FrejaFischer/vibeVault: changes, and which GitLab CI jobs are due for each by the changed paths.
All: running_pipelines, lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

.gitlab-ci.yml:

.merge_request_rule: &merge_request_rule
  if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

.main_branch_rule: &main_branch_rule
  if: '$CI_COMMIT_BRANCH == "main"'

stages:
  - static-test
  - dynamic-build
  - dynamic-test
  - deploy

# --- Default pipeline run ---
running_pipelines:
  stage: static-test
  rules:
    - <<: *merge_request_rule
      changes:
        - docker-compose.yml
        - .gitlab-ci.yml
        - Makefile
        - Readme.md
        - .gitignore
        - seeder/**/*
        - nginx/*
  script:
    - echo "Running pipelines"

# --- Static Tests ---
lint_vibe_client:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npm install eslint@9.21.0
    - npx eslint

lint_vibe_server:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npm install eslint@9.26.0
    - npm run lint

audit_vibe_client:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npm audit

audit_vibe_server:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npm audit

# --- Dynamic Build ---
build_vibe_client:
  stage: dynamic-build
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - echo "Building vibe-client"
    - cd vibe-client
    - npm install
    - npm run build

build_vibe_server:
  stage: dynamic-build
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - echo "Building vibe-server"
    - cd vibe-server
    - npm run build

# --- Dynamic Tests ---
runtime_test:
  stage: dynamic-test
  image: registry.gitlab.com/henrikstroem/composer:latest
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  #       - vibe-client/**/*
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p "$CI_JOB_TOKEN" "$CI_REGISTRY"
  script:
    - echo "Starting runtime test"
    - docker build --pull -t "$CI_REGISTRY_IMAGE/vibe-client:latest" ./vibe-client
    - docker build --pull -t "$CI_REGISTRY_IMAGE/vibe-server:latest" ./vibe-server
    - RTE=test docker-compose up --abort-on-container-exit --exit-code-from vibe-server
    - docker push "$CI_REGISTRY_IMAGE/vibe-client:latest"
    - docker push "$CI_REGISTRY_IMAGE/vibe-server:latest"

# --- Deployment (Continuos Delivery) ---
deploy_client_to_render:
  stage: deploy
  image: curlimages/curl:latest
  when: manual
  allow_failure: false
  rules:
    - <<: *main_branch_rule
      changes:
        - vibe-client/**/*
  script:
    - echo "Triggering client deployment to Render..."
    - curl -X POST "$RENDER_DEPLOY_CLIENT_HOOK_URL"

deploy_server_to_render:
  stage: deploy
  image: curlimages/curl:latest
  when: manual
  allow_failure: false
  rules:
    - <<: *main_branch_rule
      changes:
        - vibe-server/**/*
  script:
    - echo "Triggering server deployment to Render..."
    - curl -X POST "$RENDER_DEPLOY_SERVER_HOOK_URL"

added cookie parser to package json explained
  vibe-server/package-json-explained.txt
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

implemented CORS rules
  vibe-server/startup/init.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

added comments + clean up
  vibe-server/routes/entryRouter.ts
  vibe-server/routes/loginRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

setup HTTP only cookie + error handling in client login
  vibe-client/src/components/LoginForm.tsx
  vibe-server/controllers/loginController.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

added comments
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

comments + clean up
  vibe-client/src/context/AuthProvider.tsx
  vibe-client/src/pages/AuthLayout.tsx
  vibe-client/src/pages/UserLayout.tsx
  vibe-server/controllers/authController.ts
  vibe-server/controllers/loginController.ts
  vibe-server/startup/init.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

updated gitignore
  .gitignore
Due: running_pipelines

made artists routed protected
  vibe-server/routes/artistRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

implemented cookie jar in test script to make protected routes test work
  vibe-server/entrypoint.sh
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

set secure bool depending on environment
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

prepared new pipeline stage for shell checking
  .gitlab-ci.yml
Due: running_pipelines

check if RTE is set and hande secure bool
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

fix comment
  vibe-server/entrypoint.sh
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

test if jwt secret is available?
  .gitlab-ci.yml
Due: running_pipelines

bug fix: make JWT_SECRET available in pipeline
  .gitlab-ci.yml
  docker-compose.yml
Due: running_pipelines

installed shellcheck
  vibe-server/package-lock.json
  vibe-server/package.json
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

fixed sh error syntax
  vibe-server/entrypoint.sh
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

added new static test stage for linting shell
  .gitlab-ci.yml
Due: running_pipelines

fixed test error
  .gitlab-ci.yml
Due: running_pipelines

#33 - f, created entry type interface
  vibe-client/src/types/entry.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

seeder updated
  seeder/seed.sql
Due: running_pipelines

#33 b, create and updateEntry controllers created
  vibe-server/controllers/entryController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

#33, b, updateEntry added to router
  vibe-server/routes/entryRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

entry backend validation
  vibe-server/validators/entryValidator.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

removed variable in docker compose, and added env file
  docker-compose.yml
Due: running_pipelines

removed env from docker ignore
  vibe-server/.dockerignore
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

added JWT_SECRET variable, but made it so it does not set it so empty string if now found
  docker-compose.yml
Due: running_pipelines

moved env_file to docker-compose override
  docker-compose.yml
Due: running_pipelines

removed fallback variable - Moved env file from server folder to root
  docker-compose.yml
Due: running_pipelines

reopen merge request
  docker-compose.yml
Due: running_pipelines

created nessesary files - preparing for implementation in backend
  vibe-server/controllers/logoutController.ts
  vibe-server/routes/logoutRouter.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

changed name of variable
  vibe-server/controllers/loginController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

began on logout
  vibe-server/controllers/logoutController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

shadcn
  vibe-client/components.json
  vibe-client/package-lock.json
  vibe-client/package.json
  vibe-client/tsconfig.app.json
  vibe-client/tsconfig.json
  vibe-client/vite.config.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

shadcn
  vibe-client/src/styles/variables.css
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

entry frontend
  vibe-client/src/components/EntriesList.tsx
  vibe-client/src/components/EntriesListItem.tsx
  vibe-client/src/components/EntriesPageHeader.tsx
  vibe-client/src/components/EntriesProfileCard.tsx
  vibe-client/src/components/ui/input.tsx
  vibe-client/src/components/ui/select.tsx
  vibe-client/src/hooks/useEntries.ts
  vibe-client/src/lib/utils.ts
  vibe-client/src/pages/EntriesPage.tsx
  vibe-client/src/pages/UserLayout.tsx
  vibe-client/src/types/entry.ts
  vibe-server/controllers/entryController.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

changed cors rules to only allows no origin in dev and test + moved middleware to separate file
  vibe-server/middleware/handleCorsOptions.ts
  vibe-server/startup/init.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

redundant routes deleted
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

entries response updated
  vibe-server/controllers/entryController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

FIX: added override for brace-expansion for both server and client -> temporary fix for audit error
  vibe-client/package-lock.json
  vibe-client/package.json
  vibe-server/package-lock.json
  vibe-server/package.json
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render
