Repository FrejaFischer/vibeVault: changes, and which GitLab CI jobs are due for each by the changed paths.
All: running_pipelines, lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

.gitlab-ci.yml:

.merge_request_rule: &merge_request_rule
  if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

.main_branch_rule: &main_branch_rule
  if: '$CI_COMMIT_BRANCH == "main"'

stages:
  - static-test
  - dynamic-build
  - dynamic-test
  - deploy

# --- Default pipeline run ---
running_pipelines:
  stage: static-test
  rules:
    - <<: *merge_request_rule
      changes:
        - docker-compose.yml
        - .gitlab-ci.yml
        - Makefile
        - Readme.md
        - .gitignore
        - seeder/**/*
        - nginx/*
  script:
    - echo "Running pipelines"

# --- Static Tests ---
lint_vibe_client:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npm install eslint@9.21.0
    - npx eslint

lint_vibe_server:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npm install eslint@9.26.0
    - npm run lint

audit_vibe_client:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - cd vibe-client
    - npm audit

audit_vibe_server:
  stage: static-test
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - cd vibe-server
    - npm audit

# --- Dynamic Build ---
build_vibe_client:
  stage: dynamic-build
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-client/**/*
  script:
    - echo "Building vibe-client"
    - cd vibe-client
    - npm install
    - npm run build

build_vibe_server:
  stage: dynamic-build
  image: node:18
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  script:
    - echo "Building vibe-server"
    - cd vibe-server
    - npm run build

# --- Dynamic Tests ---
runtime_test:
  stage: dynamic-test
  image: registry.gitlab.com/henrikstroem/composer:latest
  rules:
    - <<: *merge_request_rule
      changes:
        - vibe-server/**/*
  #       - vibe-client/**/*
  services:
    - docker:dind
  before_script:
    - docker login -u gitlab-ci-token -p "$CI_JOB_TOKEN" "$CI_REGISTRY"
  script:
    - echo "Starting runtime test"
    - docker build --pull -t "$CI_REGISTRY_IMAGE/vibe-client:latest" ./vibe-client
    - docker build --pull -t "$CI_REGISTRY_IMAGE/vibe-server:latest" ./vibe-server
    - RTE=test docker-compose up --abort-on-container-exit --exit-code-from vibe-server
    - docker push "$CI_REGISTRY_IMAGE/vibe-client:latest"
    - docker push "$CI_REGISTRY_IMAGE/vibe-server:latest"

# --- Deployment (Continuos Delivery) ---
deploy_client_to_render:
  stage: deploy
  image: curlimages/curl:latest
  when: manual
  allow_failure: false
  rules:
    - <<: *main_branch_rule
      changes:
        - vibe-client/**/*
  script:
    - echo "Triggering client deployment to Render..."
    - curl -X POST "$RENDER_DEPLOY_CLIENT_HOOK_URL"

deploy_server_to_render:
  stage: deploy
  image: curlimages/curl:latest
  when: manual
  allow_failure: false
  rules:
    - <<: *main_branch_rule
      changes:
        - vibe-server/**/*
  script:
    - echo "Triggering server deployment to Render..."
    - curl -X POST "$RENDER_DEPLOY_SERVER_HOOK_URL"

entry styling and functionality
  vibe-client/src/components/EntriesList.tsx
  vibe-client/src/components/EntriesListItem.tsx
  vibe-client/src/components/EntriesPageHeader.tsx
  vibe-client/src/components/EntriesProfileCard.tsx
  vibe-client/src/pages/EntriesPage.tsx
  vibe-client/src/types/entry.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

removed variable in docker compose, and added env file
  docker-compose.yml
Due: running_pipelines

reopen merge request
  docker-compose.yml
Due: running_pipelines

changed cors rules to only allows no origin in dev and test + moved middleware to separate file
  vibe-server/middleware/handleCorsOptions.ts
  vibe-server/startup/init.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

FIX: added override for brace-expansion for both server and client -> temporary fix for audit error
  vibe-client/package-lock.json
  vibe-client/package.json
  vibe-server/package-lock.json
  vibe-server/package.json
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

removed env from docker ignore
  vibe-server/.dockerignore
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

added JWT_SECRET variable, but made it so it does not set it so empty string if now found
  docker-compose.yml
Due: running_pipelines

moved env_file to docker-compose override
  docker-compose.yml
Due: running_pipelines

removed fallback variable - Moved env file from server folder to root
  docker-compose.yml
Due: running_pipelines

authorisation added to getentrybyid
  vibe-server/controllers/entryController.ts
  vibe-server/routes/entryRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

implemented logout
  vibe-client/src/components/UserNav.tsx
  vibe-client/src/context/AuthProvider.tsx
  vibe-server/controllers/logoutController.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

wip: single entry
  vibe-client/src/hooks/useEntry.ts
  vibe-client/src/pages/EntryPage.tsx
  vibe-client/src/services/api-client.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

possible solution
  vibe-client/src/context/AuthProvider.tsx
  vibe-server/controllers/loginController.ts
  vibe-server/controllers/logoutController.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

brace-expansion package works again
  vibe-client/package-lock.json
  vibe-client/package.json
  vibe-server/package-lock.json
  vibe-server/package.json
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

implemented no cache headers
  vibe-server/startup/init.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

bug fixed - clean up
  vibe-server/controllers/loginController.ts
  vibe-server/controllers/logoutController.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

wip
  seeder/seed.sql
  vibe-client/src/components/EntryCard.tsx
  vibe-client/src/components/EntryTrackListItem.tsx
  vibe-client/src/components/EntryTracks.tsx
  vibe-client/src/components/EntryTracksList.tsx
  vibe-client/src/hooks/useEntry.ts
  vibe-client/src/pages/EntryPage.tsx
  vibe-client/src/types/entry.ts
  vibe-client/src/types/track.ts
  vibe-server/controllers/entryController.ts
  vibe-server/routes/entryRouter.ts
  vibe-server/validators/entryValidator.ts
Due: running_pipelines, lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

updated gitignore
  .gitignore
Due: running_pipelines

send credentials with every request
  vibe-client/src/services/api-client.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

changed navlink for login
  vibe-client/src/components/AuthNav.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

added entry tracks controller and route
  vibe-server/controllers/entryController.ts
  vibe-server/routes/entryRouter.ts
Due: lint_vibe_server, audit_vibe_server, build_vibe_server, runtime_test, deploy_server_to_render

entry tracks
  vibe-client/src/components/Button.tsx
  vibe-client/src/components/EntryTrackListItem.tsx
  vibe-client/src/components/EntryTracks.tsx
  vibe-client/src/components/EntryTracksList.tsx
  vibe-client/src/hooks/useEntries.ts
  vibe-client/src/hooks/useEntryTracks.ts
  vibe-client/src/pages/EntryPage.tsx
  vibe-client/src/types/album.ts
  vibe-client/src/types/artist.ts
  vibe-client/src/types/entry.ts
  vibe-client/src/types/track.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

implemented styling in signup page + components
  vibe-client/src/components/InputField.tsx
  vibe-client/src/components/InputGroup.tsx
  vibe-client/src/components/SignupForm.tsx
  vibe-client/src/components/VinylsGraphic.tsx
  vibe-client/src/pages/LandingPage.tsx
  vibe-client/src/pages/SignupPage.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

added new font + new brand color
  vibe-client/src/styles/variables.css
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

changed h1 size
  vibe-client/src/styles/variables.css
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

updated seed file
  seeder/seed.sql
Due: running_pipelines

back to old sql seed file
  seeder/seed.sql
Due: running_pipelines

entry single view
  vibe-client/src/components/EntriesListItem.tsx
  vibe-client/src/components/EntryCard.tsx
  vibe-client/src/components/EntryTrackListItem.tsx
  vibe-client/src/pages/EntryPage.tsx
  vibe-client/src/types/entry.ts
  vibe-client/src/utils/dateFormatter.ts
  vibe-server/controllers/entryController.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client, build_vibe_server, runtime_test, deploy_client_to_render, deploy_server_to_render

shadcn added dialig
  vibe-client/package-lock.json
  vibe-client/package.json
  vibe-client/src/components/ui/dialog.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

typo fixed
  vibe-client/src/pages/EntryPage.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

dialog added
  vibe-client/src/components/EntriesPageHeader.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render

form in progress
  vibe-client/src/components/EntryForm.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client, deploy_client_to_render
