Repository FrejaFischer/vibeVault: changes, and which GitLab CI jobs are due for each by the changed paths.
All: running_pipelines, lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client

running_pipelines:
  stage: static-test
  script:
  - echo "Running pipelines"

lint_vibe_client:
  stage: static-test
  image: node:18
  script:
  - cd vibe-client
  - npm install eslint@9.21.0
  - npx eslint

lint_vibe_server:
  stage: static-test
  image: node:18
  script:
  - cd vibe-server
  - npm install eslint@9.21.0
  - npx eslint

audit_vibe_client:
  stage: static-test
  image: node:18
  script:
  - cd vibe-client
  - npm audit

audit_vibe_server:
  stage: static-test
  image: node:18
  script:
  - cd vibe-server
  - npm audit

build_vibe_client:
  stage: dynamic-test
  image: node:18
  script:
  - echo "Building vibe-client"
  - cd vibe-client
  - npm install
  - npm run build

readme uddate
  README.md
Due: none

#22 created header
  vibe-client/public/vibevault-logo.svg
  vibe-client/src/components/Header.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

#22 created routes
  vibe-client/src/routes.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

#22 created navs
  vibe-client/src/components/AuthNav.tsx
  vibe-client/src/components/Nav.tsx
  vibe-client/src/components/UserNav.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

#22 layouts created
  vibe-client/src/pages/AuthLayout.tsx
  vibe-client/src/pages/RootLayout.tsx
  vibe-client/src/pages/UserLayout.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

created pages (skeletons)
  vibe-client/src/pages/EntriesPage.tsx
  vibe-client/src/pages/EntryPage.tsx
  vibe-client/src/pages/ErrorPage.tsx
  vibe-client/src/pages/LandingPage.tsx
  vibe-client/src/pages/LoginPage.tsx
  vibe-client/src/pages/ProfilePage.tsx
  vibe-client/src/pages/SignupPage.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

main updated
  vibe-client/src/main.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

added ignore environment files
  .gitignore
Due: running_pipelines

added testPage to routes
  vibe-client/src/routes.tsx
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

imlpemented client request for albums
  vibe-client/src/components/TestGrid.tsx
  vibe-client/src/hooks/useAlbums.ts
  vibe-client/src/types/album.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

added comments
  vibe-server/routes/albumRouter.ts
Due: lint_vibe_server, audit_vibe_server

added comments
  vibe-client/src/hooks/useAlbums.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

changed connectionstring to use app1 db user
  docker-compose.yml
Due: running_pipelines

added comments + clean up before merge request
  vibe-client/src/components/TestForm.tsx
  vibe-client/src/components/TestGrid.tsx
  vibe-client/src/hooks/useCreateTest.ts
  vibe-client/src/hooks/useTests.ts
  vibe-client/src/pages/TestPage.tsx
  vibe-client/src/routes.tsx
  vibe-client/src/services/api-client.ts
  vibe-server/entities/Test.ts
  vibe-server/routes/testRouter.ts
  vibe-server/startup/data-source.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_client, lint_vibe_server, audit_vibe_client, audit_vibe_server, build_vibe_client

installed eslint to the server + added dynamic build in pipeline
  .gitlab-ci.yml
  vibe-server/eslint.config.js
  vibe-server/package-json-explained.txt
  vibe-server/package-lock.json
  vibe-server/package.json
Due: running_pipelines, lint_vibe_server, audit_vibe_server

fixed pipeline server lint test
  .gitlab-ci.yml
Due: running_pipelines

changed eslint config to a module form
  vibe-server/eslint.config.mjs
  vibe-server/package.json
Due: lint_vibe_server, audit_vibe_server

button
  vibe-client/package-lock.json
  vibe-client/package.json
  vibe-client/src/components/Button.tsx
  vibe-client/src/styles/variables.css
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

added comments
  README.md
  vibe-server/entities/Entry.ts
  vibe-server/routes/entryRouter.ts
Due: lint_vibe_server, audit_vibe_server

implemented get users entries endpoint
  vibe-server/routes/entryRouter.ts
  vibe-server/startup/data-source.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server

implemented User and Entry entities
  vibe-server/entities/Entry.ts
  vibe-server/entities/User.ts
Due: lint_vibe_server, audit_vibe_server

changed database to have auto incremented user id
  seeder/seed.sql
Due: running_pipelines

bcrypt installed
  vibe-server/package-json-explained.txt
  vibe-server/package-lock.json
  vibe-server/package.json
Due: lint_vibe_server, audit_vibe_server

implemented POST route for users
  vibe-server/controllers/userController.ts
  vibe-server/routes/userRouter.ts
  vibe-server/startup/setupRouters.ts
  vibe-server/utils/hashPassword.ts
  vibe-server/validators/userValidator.ts
Due: lint_vibe_server, audit_vibe_server

added validation of length of data
  vibe-server/validators/userValidator.ts
Due: lint_vibe_server, audit_vibe_server

implemented create user in frontend with validation
  vibe-client/src/components/InputField.tsx
  vibe-client/src/components/InputGroup.tsx
  vibe-client/src/components/SignupForm.tsx
  vibe-client/src/hooks/useCreateUser.ts
  vibe-client/src/pages/SignupPage.tsx
  vibe-client/src/types/user.ts
  vibe-client/src/validation/userValidation.ts
Due: lint_vibe_client, audit_vibe_client, build_vibe_client

added routes for artist, album and tracks
  vibe-server/controllers/albumController.ts
  vibe-server/controllers/artistController.ts
  vibe-server/controllers/trackController.ts
  vibe-server/entities/Album.ts
  vibe-server/entities/Track.ts
  vibe-server/routes/albumRouter.ts
  vibe-server/routes/artistRouter.ts
  vibe-server/routes/trackRouter.ts
  vibe-server/startup/data-source.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server

entry logic (wip)
  vibe-server/controllers/entryController.ts
  vibe-server/entities/Entry.ts
  vibe-server/entities/EntryTrack.ts
  vibe-server/entities/Track.ts
  vibe-server/routes/entryRouter.ts
  vibe-server/startup/data-source.ts
Due: lint_vibe_server, audit_vibe_server

lint fix
  vibe-server/controllers/entryController.ts
  vibe-server/entities/Entry.ts
Due: lint_vibe_server, audit_vibe_server

pipeline fix
  vibe-server/controllers/albumController.ts
  vibe-server/controllers/artistController.ts
  vibe-server/controllers/entryController.ts
  vibe-server/controllers/trackController.ts
  vibe-server/controllers/userController.ts
Due: lint_vibe_server, audit_vibe_server

updated readme
  README.md
Due: none

readme mistake
  README.md
Due: none

code review changes
  vibe-server/routes/albumRouter.ts
  vibe-server/routes/artistRouter.ts
  vibe-server/routes/entryRouter.ts
  vibe-server/startup/init.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server

added code (commented out) for local server to be able to connect to deployed db
  vibe-server/startup/data-source.ts
Due: lint_vibe_server, audit_vibe_server

added client deploy CD
  .gitlab-ci.yml
Due: running_pipelines

added server CD deploy hook + added change rule, so it only deploys when changes happens in client / server folder
  .gitlab-ci.yml
Due: running_pipelines

test if server deploy hook is triggered
  vibe-server/startup/dbConnection.ts
Due: lint_vibe_server, audit_vibe_server

CD pipeline finished
  .gitlab-ci.yml
Due: running_pipelines

added login Router
  vibe-server/routes/loginRouter.ts
  vibe-server/startup/setupRouters.ts
Due: lint_vibe_server, audit_vibe_server

Path conditions:
  running_pipelines: any of: docker-compose.yml, .gitlab-ci.yml, Makefile, Readme.md, .gitignore, seeder/**/*
  lint_vibe_client: any of: vibe-client/**/*
  lint_vibe_server: any of: vibe-server/**/*
  audit_vibe_client: any of: vibe-client/**/*
  audit_vibe_server: any of: vibe-server/**/*
  build_vibe_client: any of: vibe-client/**/*
